.add {
    background-color: #222; 
    border: none;
    color: white;
    padding: 16px 64px;
    display: inline-block;
    font-size: 24px;
    margin-bottom: 15px;
}

.add:hover {
    opacity: 0.9;
}

.add:active {
    opacity: 0.95;
}

.phone-table {
    width: 1500px;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
    margin: 0 auto;
    
}

.phone-table th, .phone-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    text-align: center;
}

.phone-table th {
    background-color: #f2f2f2;
}

.phone-table tr:nth-child(even) {
    background-color: #f9f9f9;
}